.container {
  position: relative;
  text-align: center;
  color: white;
}

.slides {
  width: 100%;
  height: 100%;
  display: relative;
  background-color: rgb(204, 59, 59);
  justify-content: center;
}

.usuario {
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fecha {
  justify-content: center;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imagen {
  width: 100%;
  height: 100%;
  display: relative;
  justify-content: center;
}

.picture {
  width: 100%;
  height: 100%;
}

.text {
  position: relative;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.cosa {
  width: 100%;
  height: 10%;
  background-color: rgb(197, 63, 108);
}
