  <div class="mitad" style="background-color: rgb(13, 243, 163);" (click)='mover("linda")'>
      <ion-icon class="icono" style="float: left;" color='danger' slot="start" name="heart"></ion-icon>
      <h2 class="text" style="float: right;color: black;">Cosas Lindas</h2>
  </div>
  <div class="mitad" style="background-color: rgb(137, 6, 160);" (click)='mover("fea")'>
      <h2 class="text" style="float: left; color: white;">Cosas Feas</h2>
      <ion-icon class="icono" style="float: right;" color='danger' slot="end" name="heart-dislike"></ion-icon>
  </div>