  <div class="mitad" style="background-color: rgb(47, 78, 67);" (click)='mover("linda")'>
      <ion-icon class="icono" style="float: left;" color='success' slot="start" name="happy"></ion-icon>
      <h2 class="text" style="float: center;color: black;font-family: cursive;">Cosas Lindas</h2>
  </div>
  <div class="mitad" style="background-color: rgb(124, 6, 51);" (click)='mover("fea")'>
    <ion-icon class="icono" style="float: right;" color='danger' slot="end" name="sad"></ion-icon>
    <h2 class="text" style="float: center; color: black;font-family: cursive;">Cosas Feas</h2>
  </div>